* {
    color: #fff;    
}

body {
    background-image: url(background.jpg);
}
#content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 99%;
    width: 99%;
    position: absolute;
}

#calculator {
    box-shadow: 5px 5px rgb(61, 61, 69);
    border: 2px solid black;
    border-radius: 2%;
    background-color: rgb(62, 60, 84);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 34px;
}

#display {
    border: 2px solid black;
    font-size: 36px;
    border-radius: 3%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: rgb(162, 158, 158);
    height: 150px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 12px;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;  
    padding: 10px;
}

#buttons {
    display: flex;
    flex-direction: column;
}



#clear {
    border: 2px solid black;
    border-radius: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 4;
    text-align: center;
    height: 75px;
    background-color: rgb(153, 91, 67);
}

#clear:hover {
    background-color: rgb(204, 118, 84);

}



#delete:hover {
    background-color: rgb(173, 148, 84);

}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;

}

.button, #equal {
    border: 2px solid black;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(121, 118, 118);
    width: 85px;
    height: 75px;
}

.button:hover {
    background-color: #aaa;
}

.double:hover, #equal:hover {
    background-color: #aaa;
}